<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Hello from Beeboland.</h1>
{{ if .Region }}
<h2>I'm running in the {{.Region}} region, but i would like to run in the Hisui region.</h2>
<img src='https://tse1.mm.bing.net/th?id=OIP.B17eKZPG8pDQkgdpA-VaeQHaKV' alt='yes maam'/>
<span>Span added for when we moved things into a subdirectory -- it worked!</span>
<img src='https://i.ytimg.com/vi/mnYbOrj-hLY/0.jpg' alt='yes maam'/>
{{end}}
</body>
</html>